*{box-sizing: border-box;}
body{
    background-color: rgb(155, 198, 255);
}
header,footer{
    background-color: rgb(70, 116, 243);
    color: rgb(68, 67, 67);
    padding: 15px;
}
.column{
    float: left;
    padding: 15px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.menu{
    width: 25%;
}
.content{
    width: 75%;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    padding: 8px;
    margin-bottom: 8px;
    background-color: rgb(51, 88, 209);
    color: rgb(250, 245, 245);
}
.menu li:hover{
    background-color: rgb(134, 162, 223);
}
.footer{
    margin-top: 25%;
    padding: 5px;
}
h1{
    color:rgb(51, 88, 209);
}